<div class="upload-component" (drop)="dropFiles($event)" (dragover)="dragOver($event)">
  <form novalidate [formGroup]="uploadForm">
    <div class="upload-btn-container">
      <label class="btn btn-secondary select-files-btn" 
        [ngClass]="{ disabled: uploading }"
        [for]="uploading ? '' : 'file-input'">
        Select files...
      </label>
      <input type="file" name="files" class="upload-input" id="file-input"
        formControlName="files" 
        multiple 
        (change)="selectFiles($event)">
      <span *ngIf="!uploading">Drag here</span>
    </div>
    <div class="files-list" *ngIf="selectedFiles.size > 0">
      <div *ngFor="let file of selectedFiles | keyvalue : asIsOrder" class="file">
        <upload-item [file]="file" [uploading]="uploading" [uploadCanceled]="uploadCanceled" (fileRemoved)="removeFile($event)"></upload-item>
      </div>
    </div>
    <div class="button-container" *ngIf="selectedFiles.size > 0">
      <br>
      <button class="upload-btns btn-clear" [disabled]="!uploadingFinished" (click)="clearSelection()">Clear</button>
      <button class="upload-btns btn-upload" *ngIf="!uploading" (click)="uploadFiles()">Upload</button>
      <button class="upload-btns btn-upload" *ngIf="uploading" (click)="stopUpload()" [hidden]="uploadCanceled || uploadingFinished">Stop</button>
      <span *ngIf="!uploading && this.selectedFiles.size > 0"> 
        ({{ uploadedFilesCount }} / {{ selectedFiles.size }}) File(s)
      </span>
      <div style="color:green;"
        *ngIf="uploadingDone && 
          uploadedFilesCount >=  selectedFiles.size && 
          selectedFiles.size > 0">
        ✓ Done ({{ uploadedFilesCount }} / {{ selectedFiles.size }}) File(s) Uploaded
      </div>
      <div style="color:red;" *ngIf="uploadCanceled">X Canceled ({{ uploadedFilesCount }} / {{ selectedFiles.size }}) File(s) Uploaded</div>
      <div class="upload-progress" *ngIf="!uploadingDone && !uploadCanceled && !uploadingFinished" @showHideProgress>
        Files Uploaded {{ uploadedFilesCount + '/' + selectedFiles.size }}
        <progress [value]="uploadedFilesCount" [max]="selectedFiles.size" style="width: 100%;"></progress> 
      </div>
    </div>
  </form>
</div>