<div class="file" *ngIf="shown" @addRemove>
    <span *ngIf="!file?.value.ready">
        <span *ngIf="!uploading" class="file-status" (click)="removeFile(file.key)">
            X
        </span>
        <span *ngIf="uploading" class="file-status">
            <span> {{ file.value?.percentDone || 0 }}%</span>
            <!-- <span style="line-height: 35px;">⏸</span> -->
            <!-- <span (click)="removeFile(file.key)">⃠</span> -->
        </span>
    </span>
    <div class="file-name">
        {{ file.value.name }}
    </div>
    <div class="file-size">
        {{ getFileSize(file.value.size) }}
    </div>
    <progress *ngIf="uploading && !file?.value?.ready" [value]="file?.value?.percentDone || 0" max="100"
        class="progress-bar"></progress>
    <div *ngIf="file?.value?.ready" style="color:green;font-size: 12px">File(s) uploaded successfully</div>
</div>